.main{
  width:100%;
  padding: 20px;
  margin:100px auto;
  display: block;
  background-color: rgb(31, 122, 39);
}
.hedges{
  display: inline-block;
  margin:10px;
  border:1px solid #ccc;
  width: 250px;
  color:#333;
  background-color: white;
}

.hedges table td{
  padding:5px;
  border:1px solid #ccc;
}
.hedges table{
  width: 100%;
  text-align: center;
  border: 1px solid #333;
}
.hedges p{
  margin:0;
  padding: 10px;
  text-align: center;
}