<div class="main" (drop)="drop($event)"  id="main" (dragover)="allowDrop($event)">
  <div class='box' id='b1'>
      <div class="placeholder"></div>
      <div class='dragg green' (dragstart)="drag($event)" (mousedown) ='ura($event)' draggable="true" id='green'> Color Green</div>
  </div>
  <div class='box' id='b2'>
      <div class="placeholder"></div>
      <div class='dragg red' (dragstart)="drag($event)" (mousedown) ='ura($event)' draggable="true" id='red'>Color Red</div>
  </div>
  <div class='box' id='b3'>
      <div class="placeholder"></div>
      <div class='dragg blue' (dragstart)="drag($event)" (mousedown) ='ura($event)' draggable="true" id='blue'>Color Blue</div>
    </div>
</div>

<button (mousedown) = 'button()'>Privet Vano</button>
